{% extends 'pizzashop/base.html' %} {% block sidebar %}
<div class="text-center">
  <img
    class="rounded-circle"
    src="{{ MEDIA_URL }}{{ request.user.pizzashop.logo }}"
    width="70"
    height="70"
  />
  <br />
  <br />
  <h4>Hello, {{ request.user.get_full_name }}</h4>
  <h5>{{ request.user.pizzashop.name }}</h5>
</div>

<div class="list-group">
  <span class="list-group-item">Profile</span>
  <a href="{% url 'pizzashop-pizza' %}" class="list-group-item">Pizza</a>
</div>

<div class="text-center">
  <a
    href="{% url 'pizzashop-sign-out' %}?next={{ request.path }}"
    class="btn btn-red"
    >Logout</a
  >
</div>
{% endblock %} {% block page %} {% endblock %}
