{% extends 'pizzashop/base.html' %} {% load bootstrap4 %} {% block sidebar %}
<div class="text-center">
  <img
    class="rounded-circle"
    src="{{ MEDIA_URL }}{{ request.user.pizzashop.logo }}"
    width="70"
    height="70"
  />
  <br />
  <br />
  <h4>Hello, {{ request.user.get_full_name }}</h4>
  <h5>{{ request.user.pizzashop.name }}</h5>
</div>

<div class="list-group">
  <span class="list-group-item">Profile</span>
  <a href="{% url 'pizzashop-pizza' %}" class="list-group-item">Pizza</a>
</div>

<div class="text-center">
  <a
    href="{% url 'pizzashop-sign-out' %}?next={{ request.path }}"
    class="btn btn-red"
    >Logout</a
  >
</div>
{% endblock %} {% block page %}
<div class="offset-lg-5 col-lg-8">
  <div class="card">
    <div class="card-header bg-ruby">
      <h4 class="card-title text-center text-white">Profile</h4>
    </div>
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Owner</h4>
        {% bootstrap_form user_form %}
        <button type="submit" class="btn btn-red">Update</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
